.tr-odd {
}

.tr-even {
        background-color: #D4C1EC;
}

.cell {
        padding: 1rem;
}

.result-game {
        text-align: center;
        max-width: 1rem;
}

.result-round {
        text-align: center;
        max-width: 1rem;
}

.flex-column {
        display: flex;
        flex-direction: column;
}

.flex-row {
        display: flex;
        flex-direction: row;
}

.header-line {
        margin: 0.5rem;
}
